{{!< default}}

{{#post}}

	<article class="{{post_class}}">
		<section>
			<div>{{content}}</div>
			<div class="info">
				<div class="tags">{{tags separator=" "}}</div><div class="permalink-date-container">
					<time class="post-date" datetime="{{date format="MMMM-DD-YYYY"}}">{{date}}</time>
				</div>
				<hr>
			</div>
		</section>
	</article>

{{/post}}
